.main {
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
  }
  .post {
    width: 500px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid black;
    color: rgb(241, 235, 235);
  }
  .post img {
    width: 100%;
  }
  .post h1 {
    font-size: 20px;
    cursor: pointer;
    color: #ECB365;
    text-align: center;
  }
  .paginator {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .paginator div {
    margin: 25px;
    color: rgb(241, 235, 235);
  }
  .paginator .active {
    cursor: pointer;
    color: rgb(241, 235, 235);
  }
  .paginator .disabled {
    cursor: not-allowed;
    color: rgb(179, 179, 179);
  }
  